* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 90%;
    margin-top: 2rem;
}
.title {
    margin-top: 10rem;
    font-size: 2.8rem;
    color: #0A3871;
    text-align: center;
    margin-bottom: 15rem;
}
.warning {
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(./assets/warning.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 0 0.5rem 0 1rem;
}
.warn {
    font-size: 1.2rem;
    color: #495057;
    line-height: 1.8rem;
    display: inline-block;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons > button {
    width: 100%;
    border-radius: 2.4rem;
    font-size: 1.6rem;
    padding: 1.4rem;
    margin: 0.8rem 0;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
    text-align: center;

}
.encrypt {
    background-color: #0A3871;
    color: #ffffff;
    border: none;
}
.encrypt:hover {
    background-color: #ffffff;
    color: #0A3871;
    border: 0.1rem solid #0A3871;
    cursor: pointer;
}
.desencrypt {
    color: #0A3871;
    border: 0.1rem solid #0A3871;
}
.desencrypt:hover {
    color: #ffffff;
    background-color: #0A3871;
    border: 0.1rem solid #0A3871;
    cursor: pointer;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.2rem;
    gap: 3.2rem;
    /* White */
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.message-title {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
}
.message-text {
    font-size: 1.6rem;
    color: #495057;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
}
.col-two {
    display: none;
}

@media(min-width:500px) {
    .buttons {
        flex-direction: row;
        justify-content: space-between;
    }
    .buttons > button {
        margin: 1rem;
    }
    .title {
        margin-bottom: 25rem;
    }
   
}
@media(min-width:968px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 30%;
    }
    .title {
        margin-bottom: 35rem;
    }
    .col-two {
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        height: 90vh;
    }
    .toy {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .message {
        display: none;
    }
    .buttons {
        margin: 0 10rem;
    }
    .warning {
        margin-left: 12rem;
    }
}